extends content.pug

block page-content
    #about.flex-center
        p In 2019 I wrote my first React application- a <a href="https://github.com/wijohnst/t-minus/tree/master" target="_blank"> simple project </a> - a twist on the all-too-common Todo List App that has become a right-of-passage for junior software engineers. My version allowed you to set due date and displayed a "t-minus" component - counting down to when your tasks were due. Think the classic countdown when a rocket is about to launch.

        p.quote "T-Minus 30 seconds to liftoff" - NASA, probably 

        p Years of restaurant experience taught me that this was the best way to ensure that a complicated meal with multiple dishes reached the table at the same time. Since leaving the service industry I've leveraged this skill time-and-again- most notably on Thanksgiving. It doesn't take a rocket scientist to get the turkey, stuffing, pies and casseroles all ready at exactly the same time - just a good plan!

        p Since then I've tried to recreate this simple application every year- leveraging different technologies to deliver the same functionality- a sort of personal <a href="https://medium.com/hackernoon/what-are-code-katas-and-why-should-we-care-2e3f1b7e111c" target="_blank">code kata</a> designed to practice new skills and reflect on how far I've come as a developer. In the last few years I've implemented the Turkey Timer as an <a href="https://turkey-timer-2022.netlify.app" target="_blank">Angular application (2022)</a>, a <a href="https://github.com/wijohnst/Turkey_Timer_2023" target="_blank">native mobile app (2023)</a>, and this year as a <a href="https://github.com/wijohnst/turkey-timer-24" target="_blank">Koa and HTMX MPA</a>.  In so doing I've created a set of digital artifacts that simultaneously trace my growth as a software engineer and the ever-changing landscape of building stuff on the web.

        p This year's Turkey Timer highlights big leaps in both my own practice and some of the major trends in web development. Professionally I've moved away from working exclusively in Front End development and have been working on a backend product for almost 2 years. This change is reflected in this year's implementation as a server-side application. I've been able to put into practice and expand upon many of the things I've learned since moving into full-stack development and this app feels like a culmination of a lot of hard work. This same move "back to the backend" is seen in the popular discourse around building applications for the web- evidenced by the adoption of <a href="https://react.dev/reference/rsc/server-components" target="_blank">React server-components</a>, popularity of SSR frameworks like <a href="https://nextjs.org/" target="_blank">Next.js</a>, and the almost-viral popularity of the hypermedia library <a href="https://htmx.org/" target="_blank">HTMX</a>, which is at the heart of this year's app. 

        p On an even more personal note, this years app is the first in-which I've worked with a collaborator- my mom. She and I worked together to develop the recipes showcased in this years app and will be sweating it out together on Thanksgiving day preparing a meal for 11. Thanks mama. I love you.

        p If you've made it this far, thanks for reading, thanks for checking out the app! 

        p Wishing you a full table and a fully belly this Thanksgiving, 
        p.signature Will Johnston 
        p.signature Lewiston, Idaho 2024