extends content.pug

block page-content
    #about.flex-center
        p I wrote my first React application in 2018 -  <a href="https://github.com/wijohnst/t-minus/tree/master" target="_blank">a class-component based SPA</a> (Hooks was in beta) and my own twist on the Todo List app that has become a right-of-passage for junior front end developers everywhere. My version allowed you to set a due date for your tasks and then counted down to that time. Think NASA:

        p.quote "T-Minus 30 seconds to liftoff." - Mission Control PA Guy, NASA

        p Not just an appropriate technique for launching rockets, countdowns are great for other high-stakes cannot fail moments when human lives hang in the balance- ya know, stuff like defusing a bomb. Or preparing Thanksgiving dinner.

        p.quote "Figure out how long everything takes, when you want to eat, and count backwards." - Anthony Bourdain, probably

        p It doesn't take a rocket scientist to get the turkey, stuffing, pies, and casseroles all ready at exactly the same time. You just need a good plan. This year's turkey timer is my plan. (And one you can use too!) 

        p Since that first rudimentary version of what would become the Turkey Timer I've recreated the app every year- leveraging different technologies to deliver the same core functionality. I think of it as a sort of personal <a href="https://medium.com/hackernoon/what-are-code-katas-and-why-should-we-care-2e3f1b7e111c" target="_blank">code kata</a> designed to practice new skills and reflect on the same problem knowing what you know now that you didn't know then. Its a personal development litmus test.

        p Most recently I've implemented the Turkey Timer as an <a href="https://turkey-timer-2022.netlify.app" target="_blank">Angular application (2022)</a>, a <a href="https://github.com/wijohnst/Turkey_Timer_2023" target="_blank">native mobile app (2023)</a>, and this year as a <a href="https://github.com/wijohnst/turkey-timer-24" target="_blank">Koa and HTMX MPA</a>. Taken together what emerges is a collection of digital ephemera that trace my growth as a developer as well as the ever-changing landscape of tools for building applications for the web.

        p I've moved away from working exclusively in Front End development and have spent almost two years building and maintaining a data analytics pipeline. This professional change influenced my decision to implement this year's timer as a server-side rendered multi-page application. Somewhat ironically, before I built applications in React my very first web apps were Express APIs serving Pug templates. Turkey Timer 2024 is a Koa API that serves Pug templates. What's old is new again.

        p This move away from client-side SPAs as the dominant mode for delivering user experiences is growing in mind and market share - evidenced by the mainstream popularity of server-focused tooling like  <a href="https://react.dev/reference/rsc/server-components" target="_blank">React server-components</a>, SSR-first frameworks like <a href="https://nextjs.org/" target="_blank">Next.js</a>, and my personal favorite, the hypermedia library <a href="https://htmx.org/" target="_blank">HTMX</a>. I've enjoyed the simplicity and freedom of building web applications on the server and it is my hope that when leveraged correctly they can deliver a user-experience that is just as rich and engaging as a client-side application.  

        p As a final note, this years app is the first in-which I've worked with a collaborator- my mom. She and I co-developed the recipes showcased in this year's app and will be sweating it out together on Thanksgiving day preparing a meal for 11. Thanks mama. I love you.

        p If you've made it this far, thanks for reading and thanks for checking out the app! 

        p Wishing you a full table and belly this Thanksgiving, 
        p.signature Will Johnston 
        p.signature Lewiston, Idaho 2024