link(rel="stylesheet" href="content.css")
link(rel="stylesheet" href="recipes.css")
link(rel="stylesheet" href="about.css")

#content 
    #controls 
        button(
            hx-get="/menu"
            hx-target="#content"
            hx-trigger="click"
            hx-swap="outerHTML"
        ) 
            img(src="close_icon.svg")
    block page-content