link(rel='stylesheet' href="globals.css")
link(rel='stylesheet' href='menu.css') 
link(rel='stylesheet' href='animations.css')
link(rel='stylesheet' href='timer.css')
link(rel='stylesheet' href='recipe.css')
link(rel='stylesheet' href='header.css')
link(rel='stylesheet' href='about.css')
link(rel='stylesheet' href='timeline.css')

head 
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    script(src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="An HTMX powered web app that helps you execute the perfect Thanksgiving dinner.")
    meta(property="og:title" content="Turkey Timer 2024 - An HTMX powered web app that helps you execute the perfect Thanksgiving dinner.")
    meta(property="og:url" content="https://turkeytimer.willjohnston.tech")
    meta(property="og:description" content="An HTMX powered web app that helps you execute the perfect Thanksgiving dinner.")
    meta(property="og:image" content="preview-img.png")
    link(rel="icon" href="favicon.svg")

    title Turkey Timer 2024