link(rel='stylesheet' href="hero.css")

#hero
    .hero-row
        .hero-letter.init.flicker.delay-animation.glow.left T
        .hero-letter.init.flicker.delay-animation.glow.top U
        .hero-letter.init.flicker.delay-animation.glow.top R
        .hero-letter.init.flicker.delay-animation.glow.top K
        .hero-letter.init.flicker.delay-animation.glow.top E
        .hero-letter.init.flicker.delay-animation.glow.right Y
    .hero-row
        .hero-letter.init.flicker.delay-animation.glow.left T
        .hero-letter.init.flicker.delay-animation.glow.bottom I
        .hero-letter.init.flicker.delay-animation.glow.bottom M
        .hero-letter.init.flicker.delay-animation.glow.bottom E
        .hero-letter.init.flicker.delay-animation.glow.right R
    .hero-row#controls 
        button.waffle-button(hidden)
            h3 ENTER

script(src="hero.js" type="module")