link(rel='stylesheet' href="/layout.css")

html 
    include head
body
    #header.fade-in-content
        include header 
    #main-content.fade-in-content
        block timer
        #dynamic-content
            block content 
    #footer
        include footer