link(rel="stylesheet" href="timeline.css")

#timeline
    .grid-item#details 
        .grid-item 
            .item-wrapper 
                span Turkey Time
        .grid-item
            .item-wrapper 
                span Some Other Item 
            .item-wrapper 
                span Foo
        .grid-item 
            .item-wrapper 
                span Other Item
    .grid-item#digits 
        .grid-item
            .digit-group
                .digit 
                    h3 0
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 1
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 2
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 3
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 4
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 5
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 6
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 7
        .grid-item
            include halfhour