link(rel="stylesheet" href="timeline.css")

#timeline
    .grid-item#details 
        .grid-item 
            .item-wrapper 
                span Turkey Time!
        .grid-item
            .item-wrapper 
                span Cook Gravy 
            .item-wrapper 
                span Prep Key Lime Pie
            .item-wrapper 
                span Prep Gelatin 
            .item-wrapper 
                span Cook Mashed Potatoes
        .grid-item 
            .item-wrapper 
                span Cook Stuffing 
            .item-wrapper 
                span Prep Mashed Potatoes 
            .item-wrapper 
                span Cook Casserole
        .grid-item 
            .item-wrapper 
                span Prep Casserole 
            .item-wrapper 
                span Cook Rolls
        .grid-item 
            .item-wrapper 
                span Prep Pump. Pie
        .grid-item 
        .grid-item 
            .item-wrapper 
                span Prep Rolls
        .grid-item 
            .item-wrapper 
                span Cook Turkey
        .grid-item 
            .item-wrapper 
                span Mash Pot. Lead
        .grid-item
            .item-wrapper 
                span Prep Turkey
        .grid-item 
            .item-wrapper 
                span Prep Stuffing
            .item-wrapper 
                span Cook Pie Crust
        .grid-item 
        .grid-item
            .item-wrapper 
                span Casserole lead 
            .item-wrapper 
                span Stuffing lead
            .item-wrapper 
                span Prepare gelatin 
            .item-wrapper 
                span Waldorf Sal. Lead 
            .item-wrapper 
                span Pie Crust Lead 
            .item-wrapper 
                span Graham Crust Lead 
            .item-wrapper 
                span Key Lime Pie Lead 
        .grid-item
        .grid-item 
            .item-wrapper 
                span Turkey Lead
            .item-wrapper 
                span Streusel Lead
            .item-wrapper 
                span Caramel Lead 
            .item-wrapper 
                span Chx. Stock Lead
    .grid-item#digits 
        .grid-item
            .digit-group
                .digit 
                    h3 0
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 1
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 2
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 3
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 4
        .grid-item
            include halfhour
        .grid-item
            .digit-group
                .digit 
                    h3 8
        .grid-item 
            span ...
        .grid-item
            .digit-group
                .digit 
                    h3 2
                .digit 
                    h3 4
        .grid-item
            span ...
        .grid-item
            .digit-group
                .digit 
                    h3 4
                .digit 
                    h3 8